@import "tailwindcss";

:root {
  --font-titillium: 'Titillium Web', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background-color: white; /* light gray background */
  color: #111827; /* dark slate text */
  font-family: var(--font-poppins); /* default to Poppins */
}

p,link{
  font-family: var(--font-titillium);
}